[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==8.0.3"
elasticsearch = "==7.15.2"
elasticsearch-dsl = "==7.4.0"
synapseclient = "==2.5.1"
pandas = "*"

[dev-packages]
black = "==22.1.0"

[requires]
python_version = "3.9"
